body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
.equal {
  font-size: 3em;
  transform: translate(-7%);
}
